*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
 }
 
 /*body{
  background-color: #dc143c22; 
 }*/
 
 .container{
   /*max-width: 1200px;*/
   width:100%;
   height:auto;
   margin: 0 auto;
   text-align: center;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   /*padding:25px 20px;*/
 }

 .menucito{
	display:flex;
	flex-direction:row;
	width:90%;
	justify-content: left;
	margin-left:4%;
 }

 .menucitocosas{
	height:auto;
	margin-right:1%;
	margin-left:1%;
 }

 .menucitocosas a{
	text-decoration:none;
 }

 .menucitocosas a{
	text-decoration:none;
	color:#000;
	transition:color 1s;
 }

 .menucitocosas a:hover{
	text-decoration:none;
	color:#a83232;
 }

 nav {
	background:#000;
	margin-top:20px;
	width:90%;
	position: relative;
	display:flex;
	justify-content:center;
	align-items: center;
	margin-bottom: 1%;
}

nav ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}

nav > ul > li {
	float:left;
}

nav ul li a {
	text-decoration:none;
	color:#fff;
	display:block;
	padding:10px 20px;
    transition:all .3s;
}

nav ul li a:hover {
	color:#a83232;
}

nav > ul > li:hover div {
	display:table;
}

/*Submenu*/
nav ul li div {
	/*width:1000px;*/
    width:100%;
	position: absolute;
	left:0;
	box-shadow: 0px 0px 10px grey;
	box-sizing:border-box;
	display:none;
	background-color:#fff
}

nav ul li div ul{
	width:20%;
	display:table-cell;
	border-right:2px solid rgba(148, 148, 148, 0.5);
	box-sizing:border-box;
}

nav ul li div ul:last-child {
	border:none;
}

nav ul li div ul .titulo {
	color:#000;
    border-bottom-style:solid;
    border-bottom-width:2px;
}

nav ul li div ul .titulo a {
	color:#000;
	padding:10px 20px;
    font-weight:bold;
}

nav ul li div ul .titulo a:hover {
	background:none;
}

nav ul li div ul li a {
	color:#000;
}

nav ul li div ul li a:hover {
	color:#a83232;
}

main{
	width:100%;
	height:auto;
}
 
 .container .heading{
   font-size: 40px;
   margin-bottom: 20px;
   /*color:#334;*/
 }
 
 .container .box-container{
    display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
	height:auto;
	margin-top:0;
	margin-bottom:2%;
	justify-content:center;
    align-items:center;

 }

 .cajass{
	width:100%;
	display:flex;
	height:auto;
	flex-direction:column;
	margin-top:2%;
}

 .logo{
	width:100%;
	height:auto;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}

.logo a{
	height:auto;
}

.logo a img{
	display:block;
	width:100%;
	height:auto;
	margin-top:10%;
}

.nav{
    position: relative;
}

.navegacion{
	width:85%;
	margin:30px auto;
	background:#000;
    position:relative;
}

.navegacion ul{
	list-style:none;
    overflow:hidden;
    margin:0;
    padding:0;
}

.menu > li{
	/*position:relative*/
	display:inline-block;
	/*display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;*/
}

.menu > li > a{
	display:block;
	padding:15px 20px;
	color:white;
	font-family:arial, verdana, sans-serif;
	text-decoration:none;
}

.menu li a:hover{
	color:#a83232;
	transition:all .3s;
}

.submenu{
	position:absolute;
	background:#fff;
	width:70%;
	visibility:hidden;
	opacity:0;
	transition:opacity 1s;
	display:flex;
	flex-direction:row;
}

.submenu li a{
	display:block;
	padding:15px;
	color:#000;
	font-family:arial, verdana, sans-serif;
	text-decoration:none;
}

.submenucaja h3{
	font-family:arial, verdana, sans-serif;
	color:black;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#919191;
}

.submenucajas{
    border-style:solid;
    border-width:2px;
    border-top-color:#bdbdbd;
    border-bottom-color:#bdbdbd;
    border-left-color:#bdbdbd;
    border-right-color:#bdbdbd;
    box-shadow:0px 0px 1px black;
}

.menu li:hover .submenu{
	visibility:visible;
	opacity:1;
}

.submenucajas{
	display:flex;
	width:100%;
	/*height:30vh;*/
	height:auto;
	flex-direction:row;
	flex-wrap:wrap;
	margin-left:1%;
	margin-right:1%;
	margin-top:1%;
	margin-bottom:1%;
	align-items:stretch;
	justify-content:space-evenly;
}

.submenucaja{
	display:flex;
	width:100%;
	height:auto;
	flex-direction:column;
}
 
 .container .box-container .box{
   background-color: #fff;
   /*padding:20px;*/
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.2);
   display: none;
   margin:.5%;
 }

 .containter .box-container{
    width:55%;
    display:flex;
    flex-wrap:wrap;
 }
 
 .container .box-container .box:nth-child(1),
 .container .box-container .box:nth-child(2),
 .container .box-container .box:nth-child(3){
   display: inline-block;
 }
 
 .container .box-container .box .image{
   margin-bottom: 20px;
   overflow: hidden;
   /*height: 250px;*/
   border-radius: 5px;
	display:flex;
	justify-content:center;
	align-items:center;
 }
 
 .image img{
	padding:5%;
	width:90%;
 }
 
 /*.container .box-container .box .image img{
   height: auto;
   width: 100%;
   object-fit: cover;
 }*/
 
 /*.container .box-container .box:hover .image img{
   transform: scale(1.1);
 }*/
 
 .container .box-container .box .content h3{
   font-size: 20px;
   color:#334;
 }
 
 .container .box-container .box .content p{
   font-size: 15px;
   color:#777;
   line-height: 2;
  /*padding:15px 0;*/
 }
 
 .container .box-container .box .content .btn{
   display: inline-block;
   /*padding:10px 30px;*/
   border:1px solid #334;
   color:#334;
   font-size: 16px;
 }

 .cajaproducto h1{
	margin:0;
	margin-bottom:5%;
}

.cajafoto img{
	width:100%;
    height:auto;
}

.cajamarca{
	display:flex;
	height:23%;
	width:100%;
	margin-bottom:1%;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.cajamarca h3{
	/*margin:0;*/
	margin-bottom:1%;
    text-align:center;
}

.cajaproducto h1{
	margin:0;
	margin-bottom:5%;
}

.cajaproducto p{
	/*margin-top:16%;*/
	height:5vh;
	/*padding-right:5%;*/
}

.cajaproducto{
	display:flex;
	flex-direction:column;
	justify-content: center;
    text-align:center;
    align-items: center;
	height:auto;
	width:90%;
}

.box{
    width:25%;
    height:auto;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.image{
	display : flex;
	align-items:center;
	align-content:center;
	justify-content:center;	
    width:100%;
}

.content{
	display:flex;
	flex-direction:column;
	/*background-color:lightgreen;*/
	text-align:center;
    align-items:center;
    justify-content: center;
	/*margin-left:10%;
	margin-bottom:7%;*/
	font-size:17px;
	width:100%;
	height:auto;
}
 
 .container .box-container .box .content .btn:hover{
   background-color: #a83232;
   border-color: #a83232;
   color:#fff;
 }
 
/* .container .box-container .box .content .icons{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
   padding-top: 15px;
   border-top:1px solid #334;
 }
 
 .container .box-container .box .content .icons span{
   font-size: 14px;
   color:#777;
 }
 
 .container .box-container .box .content .icons span i{
   color:crimson;
   padding-right: 5px;
 }*/
 
 #load-more{
   /*margin-top: 20px;*/
   display: inline-block;
   padding:13px 30px;
   border:1px solid #334;
   color:#334;
   font-size: 16px;
   background-color: #fff;
   cursor: pointer;
   /*margin-top:2%;*/
   margin-bottom: 2%;
 }
 
 #load-more:hover{
   background-color: #a83232;
   border-color: #a83232;
   color:#fff;
 }

 .content .colorchange{
	background-color:black;
	color:white;
	cursor:pointer;
	padding:7px;
	text-decoration:none;
	width:45%;
	transition: background-color 0.3s;
    margin-bottom:5%;
}

.content .colorchange:hover{
	background-color:#a83232;
}

.footer{
	background-color:black;
	padding: 80px 0;
    width:100%;
}

.footercontainer{
	max-width: 1200px;
	margin: 0 auto;
}

.footer-row{
	display:flex;
	flex-wrap:wrap;
}

.footer-links{
	width: 25%;
	padding: 0 15px;
}

.footer-links h4{
	font-size:20px;
	color:#bbbbbb;
	margin-bottom:25px;
	font-weight:500;
	border-bottom: 2px solid #a83232;
	padding-bottom: 10px;
	display: inline-block;
}

.footer-links ul li a {
	font-size: 18px;
	text-decoration:none;
	color:white;
	display:block;
	margin-bottom:15px;
	transition: all .3s ease;
}

.footer-links ul li a:hover{
	color: white;
	padding-left: 6px;
	
}

.social-link a{
	display:inline-block;
	min-height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	color:white;
	transition: all .5s ease;
}

.social-link a:hover{
	background-color:#a83232;
}
 
@media (max-width:450px){
 
   .container .heading{
     font-size: 25px;
   }
 
   .container .box-container{
     grid-template-columns: 1fr;
   }
 
   .container .box-container .box .image{
     height: 200px;
   }
 
   .container .box-container .box .content p{
     font-size: 12px;
   }
 
   .container .box-container .box .content .icons span{
     font-size: 12px;
   }

   .footer-row{
    text-align:center;
	}

    .footer-links{
    width:100%;
    margin-bottom:30px;
    }
 
}

@media (max-width:801px){
	.social-link img{
		margin-top:14%;
	}
}

.social-link{
	display:flex;
	flex-direction:column;
}

.social-link-links{
	display:flex;
	flex-direction:row;
}

.social-link a{
	display:inline-block;
	min-height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	color:white;
	transition: all .5s ease;
}

.social-link a:hover{
	background-color:#a83232;
}

.footer-links{
	width: 24%;
	padding: 0 15px;
	margin-right:1%;
}

.social-link{
	display:flex;
	flex-direction:column;
	height:auto;
	width:80%;
	margin-right:20%;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media(max-width:991px){
	.footer-row{
		text-align:center;
	}
	
	.footer-links{
		width:100%;
		margin-bottom:30px;
	}
}

@media (max-width:801px){
	.social-link img{
		margin-top:14%;
	}
}