*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
 }

 @font-face{
    font-family:MELADU_ROSE;
    src:url("fuentes/meladu_rose/MELADU_ROSE.otf");
}

main{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

 .icon{
    height:auto;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding-top:20px;
    padding-bottom:5px;
    margin-bottom:20%;
    border-style: solid;
    border-width:2px;
    border-color: #a83232;
    box-shadow:0px 0px 20px #6b1f1f;
    border-radius: 5%;
 }

 .icons{
    height:auto;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
 }

 #quienessomos{
    height:auto;
    width:50%;
 }

 .iconimg{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-bottom:4%;
 }
 .icontext{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    text-align:center;
    border-top-style: solid;
    border-top-width:2px;
    border-top-color: #6b1f1f;
    
 }
 .icontext h2{
    width:200px;
    font-family:MELADU_ROSE;
 }

 .ficha p{
    font-size:18px;
 }

 .contodo{
    width:90%;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
 }

 .section{
    width:40%;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    /*margin-bottom:5%;*/
    margin-top:5%;
 }
 .aside{
    width:60%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
 }

 .fichas{
    width:90%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /*padding:2%;*/
    border-style: solid;
    border-width:3px;
    border-color: #6b1f1f;
 }
 .ficha{
    width:80%;
    height:auto;
    display:flex;
    flex-direction:column;
    padding:5%;
    margin-bottom:5%;
    margin-top:5%;
    border-bottom-style: solid;
    border-bottom-width:2px;
    border-bottom-color: #6b1f1f;
 }

 #pqpagina{
    margin-top:0;
    border-bottom:none;
 }

 .ficha h2{
    font-family:MELADU_ROSE;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-bottom-color: #a83232;
    margin-bottom:1%;
    font-size:28px;
    
 }
 
 body{
    font-family:arial, verdana, sans-serif;
 }
 
 .container{
   /*max-width: 1200px;*/
   width:100%;
   height:auto;
   margin: 0 auto;
   text-align: center;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   /*padding:25px 20px;*/
 }

 .cajass{
	width:100%;
	display:flex;
	height:auto;
	flex-direction:column;
	margin-top:2%;
}

header{
	flex-direction:column;
	width:100%;
}

 .logo{
	width:100%;
	height:auto;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}

.logo a{
	height:auto;
}

.logo a img{
	display:block;
	width:100%;
	height:auto;
	margin-top:10%;
}
 
 .container .box-container .box{
   background-color: #fff;
   /*padding:20px;*/
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.2);
   display: none;
   margin:.5%;
 }

 .containter .box-container{
    width:55%;
    display:flex;
    flex-wrap:wrap;
 }
 
 .container .box-container .box:nth-child(1),
 .container .box-container .box:nth-child(2),
 .container .box-container .box:nth-child(3){
   display: inline-block;
 }
 
 .container .box-container .box .image{
   margin-bottom: 20px;
   overflow: hidden;
   /*height: 250px;*/
   border-radius: 5px;
	display:flex;
	justify-content:center;
	align-items:center;
 }
 
 .image img{
	padding:5%;
	width:90%;
 }
 
 /*.container .box-container .box .image img{
   height: auto;
   width: 100%;
   object-fit: cover;
 }*/
 
 /*.container .box-container .box:hover .image img{
   transform: scale(1.1);
 }*/
 
 .container .box-container .box .content h3{
   font-size: 20px;
   color:#334;
 }
 
 .container .box-container .box .content p{
   font-size: 15px;
   color:#777;
   line-height: 2;
  /*padding:15px 0;*/
 }
 
 .container .box-container .box .content .btn{
   display: inline-block;
   /*padding:10px 30px;*/
   border:1px solid #334;
   color:#334;
   font-size: 16px;
 }

 .cajaproducto h1{
	margin:0;
	margin-bottom:5%;
}

.cajafoto img{
	width:100%;
    height:auto;
}

.cajamarca{
	display:flex;
	height:23%;
	width:100%;
	margin-bottom:1%;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.cajamarca h3{
	/*margin:0;*/
	margin-bottom:1%;
    text-align:center;
}

.cajaproducto h1{
	margin:0;
	margin-bottom:5%;
}

.cajaproducto p{
	/*margin-top:16%;*/
	height:5vh;
	/*padding-right:5%;*/
}

.cajaproducto{
	display:flex;
	flex-direction:column;
	justify-content: center;
    text-align:center;
    align-items: center;
	height:auto;
	width:90%;
}

.box{
    width:25%;
    height:auto;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.image{
	display : flex;
	align-items:center;
	align-content:center;
	justify-content:center;	
    width:100%;
}

.content{
	display:flex;
	flex-direction:column;
	/*background-color:lightgreen;*/
	text-align:center;
    align-items:center;
    justify-content: center;
	/*margin-left:10%;
	margin-bottom:7%;*/
	font-size:17px;
	width:100%;
	height:auto;
}
 
 .container .box-container .box .content .btn:hover{
   background-color: #a83232;
   border-color: #a83232;
   color:#fff;
 }
 
/* .container .box-container .box .content .icons{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
   padding-top: 15px;
   border-top:1px solid #334;
 }
 
 .container .box-container .box .content .icons span{
   font-size: 14px;
   color:#777;
 }
 
 .container .box-container .box .content .icons span i{
   color:crimson;
   padding-right: 5px;
 }*/
 
 #load-more{
   /*margin-top: 20px;*/
   display: inline-block;
   padding:13px 30px;
   border:1px solid #334;
   color:#334;
   font-size: 16px;
   background-color: #fff;
   cursor: pointer;
   /*margin-top:2%;*/
   margin-bottom: 2%;
   margin-top:2%;
 }
 
 #load-more:hover{
   background-color: #a83232;
   border-color: #a83232;
   color:#fff;
 }

 .content .colorchange{
	background-color:black;
	color:white;
	cursor:pointer;
	padding:7px;
	text-decoration:none;
	width:45%;
	transition: background-color 0.3s;
    margin-bottom:5%;
}

.productoensi{
    height:50vh;
    width:90%;
    display:flex;
    flex-direction:row;
    justify-content:center;
	align-content:center;
    margin-bottom:5%;
    margin-top:7%;

}

.productoensi aside{
    width:70%;
    height:auto;
    display:flex;
    justify-content:left;
    align-items:center;
    line-height:50px;
}

.menucito{
	display:flex;
	flex-direction:row;
	width:90%;
	justify-content: left;
	margin-left:4%;
 }

 .menucitocosas{
	height:auto;
	margin-right:1%;
	margin-left:1%;
 }

 .menucitocosas a{
	text-decoration:none;
	color:#000;
	transition:color 1s;
 }

 .menucitocosas a:hover{
	text-decoration:none;
	color:#a83232;
 }

.pprecio h3{
    font-size:30px;
}

.productoensi section{
    width:100%;
    height:50vh;
    display:flex;
    justify-content: center;
    align-items:center;
	margin-left:10%;
}

.bs{
	width: 100%;
	display:flex;
	height:auto;
	flex-direction:column;
    justify-content:center;
    align-items:center;
    align-content:center;

}

.especificaciones{
    width:100%;
    margin-top:1%;
}

.cajitas{
    display:flex;
    flex-direction:column;
    width:100%;
}

.cajita{
    height:4vh;
    display:flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
    text-align:left;
    width:100%;
    background-color: #dddddd;
    margin-bottom:1%;
}

.cosascajita{
    width:100%;
}

.cosascajita h4{
    margin-right:10%;
    margin-left:10%;
    
}

.bslinks{
	display:flex;
	width:100%;
	height:auto;
	/*margin-left:10%;*/
	font-size:30px;
	display:flex;
	flex-direction:row;
    align-items:left;
	margin-bottom:1%;
	margin-top:2%;
    border-bottom-color:#5f5f5f;
	border-bottom-width:1px;
	border-bottom-style: solid;
}

.bscosas{
    display:flex;
	width:80%;
	height:auto;
    /*margin-left:10%;*/
	font-size:15px;
	display:flex;
	flex-direction:row;
    justify-content: center;
    margin-bottom:2%;
   /* background-color: #bbbbbb;*/
}

.pprecio .colorchange{
	background-color:black;
	color:white;
	cursor:pointer;
	padding:7px;
	text-decoration:none;
	width:45%;
	transition: background-color 0.3s;
}

.pprecio .colorchange:hover{
	background-color:#a83232;
}

.bslinks a{
	font-family:MELADU_ROSE;
	margin-right:1%;
	color:black;
    text-decoration:none;
}

.bslinks a:hover{
	color:#a83232;
	transition:color 1s;
}

.bslinks a:visited{
	text-decoration:underline;
    border-bottom-width:1px;
    border-bottom-style:solid;
}

.detalles{
	width:100%;
}

.detallestexto{
    display:flex;
    flex-direction:column;
    width:90%;
}

.detallestexto p{
    margin-bottom:1%;

}

.content .colorchange:hover{
	background-color:#a83232;
}

.content .colorchange:hover{
	background-color:#a83232;
}

.footer{
	background-color:black;
	padding: 80px 0;
    width:100%;
}

.footercontainer{
	max-width: 1200px;
	margin: 0 auto;
}

.footer-row{
	display:flex;
	flex-wrap:wrap;
}

.footer-links{
	width: 25%;
	padding: 0 15px;
}

.footer-links h4{
	font-size:20px;
	color:#bbbbbb;
	margin-bottom:25px;
	font-weight:500;
	border-bottom: 2px solid #a83232;
	padding-bottom: 10px;
	display: inline-block;
}

.footer-links ul li a {
	font-size: 18px;
	text-decoration:none;
	color:white;
	display:block;
	margin-bottom:15px;
	transition: all .3s ease;
}

.footer-links ul li a:hover{
	color: white;
	padding-left: 6px;
	
}

.social-link a{
	display:inline-block;
	min-height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	color:white;
	transition: all .5s ease;
}

.social-link a:hover{
	background-color:#a83232;
}
 
@media (max-width:450px){
 
   .container .heading{
     font-size: 25px;
   }
 
   .container .box-container{
     grid-template-columns: 1fr;
   }
 
   .container .box-container .box .image{
     height: 200px;
   }
 
   .container .box-container .box .content p{
     font-size: 12px;
   }
 
   .container .box-container .box .content .icons span{
     font-size: 12px;
   }

   .footer-row{
    text-align:center;
	}

    .footer-links{
    width:100%;
    margin-bottom:30px;
    }
 
}

@media (max-width:801px){
	.social-link img{
		margin-top:14%;
	}
}

.social-link{
	display:flex;
	flex-direction:column;
}

.social-link-links{
	display:flex;
	flex-direction:row;
}

.social-link a{
	display:inline-block;
	min-height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	color:white;
	transition: all .5s ease;
}

.social-link a:hover{
	background-color:#a83232;
}

.footer-links{
	width: 24%;
	padding: 0 15px;
	margin-right:1%;
}

.social-link{
	display:flex;
	flex-direction:column;
	height:auto;
	width:80%;
	margin-right:20%;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width:801px){
	.social-link img{
		margin-top:14%;
	}
}

@media (max-width:991px){
	.footer-row{
		text-align:center;
	}
	
	.footer-links{
		width:100%;
		margin-bottom:30px;
		text-align:center;
	}
	.social-link img{
		max-width:200px;
	}
	.social-link{
		display:flex;
		flex-direction:column;
		text-align:center;
		justify-content:center;
		margin:0;
	}
	#siguenos{
		display:flex;
		flex-direction:column;
		text-align:center;
		justify-content:center;
		align-items:center;
		align-content:center;
		width:100%;
		height:auto;
	}
	#social-link{
		display:flex;
		flex-direction:column;
		text-align:center;
		justify-content:center;
		align-items:center;
		align-content:center;
		width:100%;
		height:auto;
	}
}

@media (max-width:801px){
	.social-link img{
		max-width:200px;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body{
    font-family: 'Poppins', sans-serif;
}*/

nav{
	margin-bottom:1%;
	width:90%;
	z-index:1000;
}

.menu{
    background-color: #000;
    color: #fff;
    height: 10vh;
}

.menu__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #a83232;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #6b1f1f;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:800px){
	
	header{
		flex-direction: row;
	}
	.logo a img{
		height:80px;
	}
    nav{
		width:10%;
	}	
	.menu{
		background-color: #fff;
	}
    .menu__hamburguer{
        display: flex;
		background-color:white;
		color:white;
		margin-right:50%;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #de6868;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 50%;
		height:auto;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #fff;
		/*box-shadow: 0px 0px 20px #de6868;*/
		border-color:#de6868;
		border-style:solid;
		border-width:1px;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 55%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
		color:#000;
    }

	.menu__link:hover{
		background-color:#de6868;
	}

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
		background-color:#fff;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #de6868;
    }

	
	
}

.menucito{
	display:flex;
	flex-direction:row;
	width:90%;
	justify-content: left;
	margin-left:4%;
 }

 .menucitocosas{
	height:auto;
	margin-right:1%;
	margin-left:1%;
 }

 .menucitocosas a{
	text-decoration:none;
	color:#000;
	transition:color 1s;
 }

 .menucitocosas a:hover{
	text-decoration:none;
	color:#a83232;
 }

@media (max-width:801px){
	.social-link img{
		margin-top:14%;
	}
}

@media (max-width:450px){
    .footer-row{
        text-align:center;
    }
    
    .footer-links{
        width:100%;
        margin-bottom:30px;
    }
    .cajaproducto p{
        font-size:20px;
    }
}

@media (max-width:991px){
	.footer-row{
		text-align:center;
	}
	
	.footer-links{
		width:100%;
		margin-bottom:30px;
		text-align:center;
	}
	.social-link img{
		max-width:200px;
	}
	.social-link{
		display:flex;
		flex-direction:column;
		text-align:center;
		justify-content:center;
		margin:0;
	}
	#siguenos{
		display:flex;
		flex-direction:column;
		text-align:center;
		justify-content:center;
		align-items:center;
		align-content:center;
		width:100%;
		height:auto;
	}
	#social-link{
		display:flex;
		flex-direction:row;
		text-align:center;
		justify-content:center;
		align-items:center;
		align-content:center;
		width:100%;
		height:auto;
	}
    .box-container{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        margin-left:5%;
        margin-right:5%;
    }
    .box{
        min-width:245px;
    }
}

@media (max-width:801px){
	.social-link img{
		max-width:200px;
	}
    .container .box-container .box {
        margin-bottom:3%;
    }
    .barra{
        height:3px;
        background-color:#a83232;
        width:100%;
    }
    
    .menucito{
        margin-top:2%;
        display:flex;
        justify-content:center;
        text-align:center;
    }
    
}

@media (max-width:950px){
    .productoensi{
        flex-direction:column;
        height:auto;
        justify-content:center;
        text-align:center;
        width:100%;
    }
    .productoensi section{
        margin:0;
        height:auto;
    }
    .productoensi aside{
        text-align:center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:100%;
    }
    .ptexto h4{
        font-size:20px;
    }
    .ptexto p{
        font-size:30px;
        margin:1;
    }
    .pprecio h3{
        font-size:45px;
    }
    .pprecio p{
        font-size:20px;
    }
    .pprecio a{
        font-size:25px;
    }
    .bscosas{
        flex-direction:column;
    }
    .detalles{
        justify-content:center;
        text-align:center;
    }
    .detalles p{
        text-align:left;
    }
    .detallestexto{
        width:100%;
    }
}

@media (max-width:1150px){
    .contodo{
        flex-direction:column;
        justify-content: center;
    }
    .icons{
        flex-direction: row;
        width:100%;
        height:auto;
        justify-content: space-evenly;
    }
    section{
        flex-direction: row;
        width:100%;
        height:auto;
    }
    .section{
        width:100%;
        height:auto;
    }
    .icon{
        margin:0;
        margin-bottom:5%;
        width:40%;
    }
    aside{
        flex-direction: row;
        width:100%;
        height:auto;
        justify-content: center;
    }
    .aside{
        flex-direction: row;
        width:100%;
        height:auto;
        justify-content: center;
        margin-bottom:5%;
    }
}


/*@media(max-width:1300px){
    .productoensi{
        flex-direction:column;
        height:auto;
        justify-content:center;
        text-align:center;
        width:100%;
    }
    .productoensi section{
        margin:0;
        height:auto;
    }
    .productoensi aside{
        text-align:center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:100%;
    }
}*/
